<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>学校介绍</string>
		<key>detialTitle</key>
		<string>了解奋勉的民大</string>
	</dict>
	<dict>
		<key>title</key>
		<string>校歌</string>
		<key>detialTitle</key>
		<string>民大校歌</string>
	</dict>
	<dict>
		<key>title</key>
		<string>校训</string>
		<key>detialTitle</key>
		<string>  勤学 敬业 团结 创新</string>
	</dict>
	<dict>
		<key>title</key>
		<string>学院介绍</string>
		<key>detialTitle</key>
		<string>各学院现状说明</string>
	</dict>
	<dict>
		<key>title</key>
		<string>学校黄页</string>
		<key>detialTitle</key>
		<string>快速寻找</string>
	</dict>
	<dict>
		<key>title</key>
		<string>历史沿革</string>
		<key>detialTitle</key>
		<string>65年民大发展历史</string>
	</dict>
</array>
</plist>
