<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>校园热门</string>
		<key>bgimage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>创新中心动态</string>
		<key>bgimage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>校园随身听</string>
		<key>bgimage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>让你一次笑个够</string>
		<key>bgimage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>让你一次笑个够</string>
		<key>bgimage</key>
		<string></string>
	</dict>
</array>
</plist>
